openai
langchain
streamlit
python-dotenv
PyPDF2


-e .

# general way is to install all of these above packages
# like conda install openai conda install langchain
# ptherwise, you can directly say 
# pip install -r requirements.txt, this will install all 
# the packages mentioned in requiremnets.txt
# in your current virtual env
# if we also want to install our local packages
# meaning the packages that are there in our project folder
# into our current virtual env
# we can use python setup.py install




# if you use hyphen e . then it will install
# local packages from your directory into your
# current virtual env
